.jumbotron {
    background-color: #E3E4FF;
    color: #1A1B1D;
    width: auto;
    height: auto;
    margin: 0;
}

h1.display-4 {
    color: purple;
}

p.lead {
    color: rgba(128, 0, 128, 0.6);
}

.main-content {
    padding: 5px;
    margin: 5px;
}

.main-content h1 {
    font-size: 42px;
}

.btn {
    background-color: #1A1B1D;
    color: #E3E4FF;
}